* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
 color: #000000;
 /* Se agrega un patrón mediante HEROPATTERNS*/ 
 background-color: #ffffff;
 background-color: #b2bdf9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239299ac' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
a {
color: #000000;
text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin:auto;
}
/*Estilos para la barra de navegación*/
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
/*EStilo parala imagen*/
.nav-brand {
    width: 100px;
}
/*Estilo para la navegacion izquierda*/
.nav-main ul{
    display: flex;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
.nav-main ul.nav-menu-right{
    margin-right: 40px;
}
/* Estilo para el título*/
.nav-menu-center {
    flex: 1.3;
}
.nav-main ul li a{
    padding: 6px;
}
.nav-main ul li a:hover {
    border-bottom:20px solid #000000;
}
/*Estilos para el Header*/
.showcase {
    width: 100%;
    height: 450px;
    background: url("../img/libros.jpg") no-repeat center center/cover;
    margin-top: 16px;
    padding: 50px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.showcase h2 {
 color:#ffffff;
 padding: 150px;
 font-size: 70px;
}
/*Estilos para el boton comenzar*/
.btn {
    cursor: pointer;
    display: inline-block;
    border: 2;
    font-weight: bold;
    padding: 10px 20px;
    background: #232323;
    color: #ffffff;
    font-size: 20px;
    border: 1px solid #fff
}

.btn:hover{
    opacity: .5;
}
/*Redes sociales y FOOTER*/
.social {
    width: auto;
    background: #2f3640;
    color: #ffffff;
    font-size: 12px;
    padding: 35px 0;
}
.social p {
text-align: center;
font-size: 30px;
margin-bottom: 20PX;
}
.social p:hover{
    text-decoration: underline;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link a {
    margin: 0 30px;
}
.link a i {
    font-size: 3rem;

}
footer h3 {
    background: #2f3640;
    color:#fff;
    font-size: 12px;
    text-align: center;
}
.link a.face:hover {
    opacity: .5;
}
.link a.tw:hover {
    opacity: .5;
}
.link a.insta:hover {
    opacity: .5;
}

/*TARJETAS DE USUARIOS*/
.user-card{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    /*Espacio interno del gridinterno*/
}
.user-card img{
    width: 100%;
    height: 350px;

}
.user-card a{
    padding: 10px;
    color: #000000;
    font-size: 20px;
    text-transform: unppercase;
    display: inline-block;
    font-weight: bold;


}
.user-card a:hover{
    text-decoration: underline;
}
/*TARJETA DE ALUMNO*/
.user-start{
    display:grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    /*Espacio interno del gridinterno*/
}
.user-start img{
    width: 100%;
    height: 350px;

}
.user-start a{
    padding: 10px;
    color: #000000;
    font-size: 20px;
    text-transform: unppercase;
    display: inline-block;
    font-weight: bold;


}
.user-start a:hover{
    text-decoration: underline;
}