<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="view/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <!--Barra de navegación-->
        <nav class="nav-main">
            <!--Logo de la página-->
            <img src="view/img/Logo_1.jpg" alt="Logo videojuego" class="nav-brand">
            <!--Items de la barra-->
            <ul class="nav-menu">
                <li>
                    <a href="">Inicio</a>
                </li>
                <li>
                    <a href="">Nosotros</a>
                </li>
                <li>
                    <a href="">Acerca de</a>
                </li>
            </ul>
            <h4 class="nav-menu-center">Aprende con Liceo</h4>
        </nav>
        <hr>
    </div>
    <!--Header-->
    <header class="showcase">
       

    </header>
    <!--Contenido de la pagina-->
    <div class="login-box">

        <form>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Usario</label>
            </div>
            <div class="user-box">
                <input type="password" name="" required="">
                <label>Contraseña</label>
            </div>
            <center>
                <a href="#">
                    Enviar
                    <span></span>
                </a>
            </center>
        </form>
    </div>
    <!--Footer y redes sociales-->-
    <footer class="social">
        <p>¡SÍGUENOS!</p>
        <div class="link">
            <a class="face" href="#" target="_blank">
                <i class="fa-brands fa-facebook" style="color: #ffffff"></i>
            </a>
            <a class="tw" href="#">
                <i class="fa-brands fa-twitter" style="color:#ffffff"></i>
            </a>
            <a class="insta" href="#">
                <i class="fa-brands fa-instagram" style="color: #ffffff"></i>
            </a>
        </div>
        <br>
        <h3>&copy;Copyright: 2024 | LICEO EUROPEA</h3>
    </footer>
</body>

</html>